* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common */
header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    background-color: #0161ff;
    padding: 10px 20px;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.fs-15 {
    font-size: 15px;
}

.col {
    float: left;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 25px;
}

.green {
    background-color: #a2d39b;
}

.brown {
    background-color: #61082b;
}

.blue {
    background-color: #0093ce;
}

.red {
    background-color: #ff1d1d;
}

.darkred {
    background-color: #d5001e;
}

.lightblue {
    background-color: #b4d0e7;
}

.darkblue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}
/*fine common */

/* header */
.info {
    width: 40%;
    float: left;
}

.info ul li{
    display: inline;
}

.info ul li a {
    color: black;
    padding: 0 30px;
}

/* header dx */
.right {
    text-align: right;
    width: 44%;
}

#logo {
    width: 10%;
    float: left;
    padding-left: 20px;
}

#logo a img {
    vertical-align: middle;
    margin-left: 20px;
}
/*fine header dx */


/* header sx */
#log-in {
    width: 5%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

#log-in a {
    color: white;
    line-height: 15px;
}

/*fine header sx */
/*fine header  */

/* main */
/* jumbotron */
.jumbotron {
    width: 100%;
    height: 800px;
}

#container-jumbo {
    margin-top: 80px;
    padding: 60px 0 0 0;
}

#container-jumbo h1 {
    font-size: 80px;
}   

#row-jumbo {
    width: 100%;
    margin-top: 50px;
}

.col-dx {
    width: 70%;
}

.col-dx img {
    max-width: 100%;
    height: 550px;
}

.col-sx {
    width: 30%;
}

.col-sx span {
    display: block;
    margin: 40px 0 15px;
}

.col-sx span a {
    color: white;
    margin-bottom: 30px;
}

.col-sx p {
    margin-bottom: 20px;
}

.col-sx i {
    font-size: 50px;
}
/*fine jumbotron  */
/* piano */
/* titolo e fatturazione */
#container-piano {
    padding: 200px 0 0 0;
}

.fake {
    margin-top: 40px;
}

.circle {
    padding: 0px 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin-right: 5px;
}

.circle-blu {
    box-shadow: inset 0px 0px 0px 5px #000BFF;
}

.fake-text {
    margin-right: 20px;
}
/*fine titolo e fatturazione */
/* colonna */
.col-piano {
    width: calc((100% / 3) - 40px);
    min-height: 1000px;
    margin: 50px 0px 0 0px;
    border: 1px solid lightgrey;
    float: left;
}

.col-piano-center {
    width: calc((100% / 3) - 40px);
    min-height: 1000px;
    margin: 50px 40px 0;
    border: 1px solid lightgrey;
    float: left;
}

.titolo-business {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.text-piano {
    margin-top: 30px;
}

.costo-piano {
    margin: 20px 0 50px 0;
}

.costo-piano p:first-child {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.costo-piano p:last-child {
    color: lightgray;
}

.offerte-piano {
    margin-bottom: 30px;
}

.offerte-piano li {
    margin-bottom: 20px;
}

.prova-piano {
    background-color: #0161ff;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0;
}

.prova-piano a {
    color: white;
}

.text-piano > p {
    margin-bottom: 20px;
}

.text-piano > p > a {
    text-decoration: underline;
    color: blue;
}

.line {
    width: 50px;
    border-bottom: 1px solid lightgray;
    margin: 40px 0 60px;
}

.vantaggi-piano ul {
    list-style: none;
}

.vantaggi-piano ul li {
    margin-bottom: 20px;
}

.fa-check {
    color: blue;
}
/*fine colonna */
/* parte inferiore piano  */
.container-piano2 {
    margin-top: 60px;
    border: 1px solid lightgray;
}

.text-team {
    width: 70%;
    float: left;
    padding-bottom: 40px;
}

.text-team h3,
.text-partners h3 {
    margin-top: 30px;
}

.text-team h4 {
    padding: 20px 0 30px;
    font-weight: 700;
}

.text-team2 {
    width: 30%;
    float: right;
    margin-top: 30px;
    text-align: center;
}

.text-team2 a {
    color: white;
}
/* fine parte inferiore piano  */
/*fine piano */
/* partners */
.partners-container {
    margin-top: 200px;
}

.img-partners {
    width: 55%;
}

.img-partners img {
    max-width: 100%;
}

.text-partners {
    width: calc(45% - 10%);
    margin-left: 10%;
}

.text-partners p {
    padding-top: 30px;
}

.text-partners p a{
    color: black;
    background-color: #fff;
    border: 1px solid black;
}
/* fine partners */
/* operazioni */
#operazioni {
    margin-top: 100px;
}

.container-operazioni h2 {
    font-size: 45px;
}

.card {
    width: 28%;
    display: inline-block;
    float: left;
    padding: 30px 0 40px;
}

.text-card p span a{
    text-decoration: underline;
    color: black;
}

.center {
    margin: 0 8%
}

.card img {
    width: 100%;
}

.text-card p {
    padding-top: 20px;
}
/* fine operazioni */
/* team */
/* team superiore */
.container-team {
    padding-top: 100px;
    width: 34%;
    margin-left: 15%;
    padding-bottom: 20px;
}

.container-team span a {
    color: blue;
    text-decoration: underline;
}

.container-team li:last-child {
    margin: 30px 0;
}
/* fine team superiore */
/* team inferiore */
.row-team {
    height: 30vw;
}

.col-team {
    float: left;
    height: 30vw;
    width: 30vw;
}

.sponsor {
    float: left;
    width: 15vw;
    height: 15vw;
    text-align: center;
    line-height: 15vw;
}

.bordo {
    border: 20px solid rgba(255, 255, 255, 0.4);
    line-height: 14vw;
}

.sponsor img {
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}

.col-team-center {
    float: left;
    width: calc(100% - 60vw);
    height: 30vw;
    padding: 60px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

.col-team-center img {
    width: 20%;
}

.col-team-center p {
    margin: 70px 0;
}
/*fine team inferiore */
/* fine team */
/* start */
.container-start {
    position: relative;
    height: 20vw;
    width: 100%;
}

.row-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-start h2 {
    width: calc(45% - 40px);
    float: left;
    color: #61082b;
    margin-left: 20px;
}

.container-start span {
    width: calc(55% - 40px);
    float: left;
    text-align: right;
    margin-right: 20px;
}

.container-start span a {
    background-color: white;
    color: black;
    padding: 10px 60px;
    display: inline-block;
}
/* fine start */
/* faq */
.container-faq {
    padding: 90px 0;
}

.container-faq h3 {
    margin-bottom: 30px;
}

.container-domande {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    border-top: 1px solid lightgray;
}

.container-faq .container-domande:last-child {
    border-bottom: 1px solid lightgray;
}

.container-domande a {
    float: left;
    font-weight: 700;
    color: black;
}

.container-domande i {
    float: right;
    margin-right: 30px;
    line-height: 80px;
}
/* fine faq */
/*fine main  */

/* footer */

/*fine footer  */