* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #0161ff;
    padding: 10px 20px;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.fs-15 {
    font-size: 15px;
}

.col {
    float: left;
}
/*fine common */

/* header */
.info {
    width: 40%;
    float: left;
}

.info ul li{
    display: inline;
    list-style: none;
}

.info ul li a {
    color: black;
    padding: 0 30px;
}

/* header dx */
.right {
    text-align: right;
    width: 44%;
}

#logo {
    width: 10%;
    float: left;
    padding-left: 20px;
}

#logo a img {
    vertical-align: middle;
    margin-left: 20px;
}
/*fine header dx */


/* header sx */
#log-in {
    width: 5%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

#log-in a {
    color: white;
}

#log-in a:hover {
    text-decoration: none;
}
/*fine header sx */
/*fine header  */

/* main */
/* jumbotron */
#jumbotron {
    width: 100%;
    height: 800px;
    background-color: #b4d0e7;
}

#container-jumbo {
    padding: 60px 0 0 0;
}

#container-jumbo h1 {
    font-size: 80px;
}   

#row-jumbo {
    width: 100%;
    margin-top: 50px;
}

.col-dx {
    width: 70%;
}

.col-dx img {
    max-width: 100%;
    height: 550px;
}

.col-sx {
    width: 30%;
}

.col-sx span {
    display: block;
    margin: 40px 0 15px;
}

.col-sx span a {
    color: white;
    margin-bottom: 30px;
}

.col-sx span a:hover {
    text-decoration: none;
}

.col-sx p {
    margin-bottom: 20px;
}

.col-sx i {
    font-size: 50px;
}
/*fine jumbotron  */

/* piano */
/* titolo e fatturazione */
#container-piano {
    padding: 200px 0 0 0;
}

#container-piano h2 {
    font-size: 45px;
}

.fake {
    margin-top: 40px;
}

.circle {
    padding: 0px 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin-right: 5px;
}

/* .circle-blu {
    border-radius: 50%;
    border: 6px solid #0161ff;
} */

.fake-text {
    margin-right: 20px;
}
/*fine titolo e fatturazione */
/* colonna */
.col-piano {
    width: 30%;
    min-height: 1000px;
    margin-top: 50px;
    border: 1px solid grey;
    float: left;
}

.titolo-business {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.text-piano {
    margin-top: 30px;
}

.text-piano h3 {
    font-size: 25px;
}

.costo-piano {
    margin: 20px 0 50px 0;
}

.costo-piano p:first-child {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.costo-piano p:last-child {
    color: lightgray;
}

.offerte-piano {
    margin-bottom: 30px;
}

.offerte-piano p {
    margin-bottom: 20px;
}

.prova-piano {
    background-color: #0161ff;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 0;
}

.prova-piano a {
    color: white;
}

.text-piano > p {
    margin-bottom: 20px;
}

.text-piano > p > a {
    text-decoration: underline;
    color: blue;
}

.vantaggi-piano ul {
    list-style: none;
}

.vantaggi-piano ul li {
    margin-bottom: 20px;
}

.fa-check {
    color: blue;
}




/*fine colonna */

/*fine piano */

/*fine main  */

/* footer */
/*fine footer  */